{{!-- Pulses yellow --}}
<div class="container page-title">
    <h1 style="font-size:6vw;" class="display-4">BurgerTime!</h1>
</div>

<div class="container">
  {{!-- Burgers I wanna eat --}}
  <section class="col-md-10">
  <img src="/assets/img/8-bit-burger.png" alt="8-bit burger" class="burger-img"><h2>Burgers I wanna eat:</h2>

  <ul class="list-group">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burger/burger-block devour=true}}
      {{/unless}}
    {{/each}}
  </ul>
  </section>

  <br>

  {{!-- Burgers I have eaten --}}
  <section class="col-md-10">
  <img src="/assets/img/8-bit-burger.png" alt="8-bit burger" class="burger-img"><h2>Burgers I've eaten:</h2>

  <ul class="list-group">
    {{#each burgers}}
      {{#if devoured}}
        {{> burger/burger-block devour=false}}
      {{/if}}
    {{/each}}
  </ul>
  </section>

  <br>
  {{!-- Add a burger --}}
  <section class="col-md-10 add-burger">
    <h3>Add a burger:</h3>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name" placeholder="FEED ME">
      </div>

      <div class="form-group">
        <label for="devoured">Have you had it before?</label><br>
        <input type="radio" name="devoured" value="0" checked> I wanna try it!<br>
        <input type="radio" name="devoured" value="1"> I've had it before.
      </div>

      <button type="submit" class="btn btn-outline-light">Add Burger</button>
    </form>
  </section>
</div>
