<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{devour}">
		{{#if devour}}Let's eat!{{else}}Not hungry!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
